<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Archetype Created Web Application</display-name>
  <welcome-file-list>
    <welcome-file>index2version.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>MySQL Datasource example</description>
    <res-ref-name>jdbc/car_shop</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <context-param>
    <param-name>Strategy</param-name>
    <param-value>HiddenFieldStrategy</param-value>
  </context-param>
  <context-param>
    <param-name>TimeOutOfCapthca</param-name>
    <param-value>0.4</param-value>
  </context-param>
  <listener>
    <listener-class>com.epam.osmachko.listener.ApplicationContextListener</listener-class>
  </listener>
  <filter>
    <filter-name>AuthenticationFilter</filter-name>
    <filter-class>com.epam.osmachko.filter.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>AuthenticationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>LocalizationFilter</filter-name>
    <filter-class>com.epam.osmachko.filter.LocalizationFilter</filter-class>
    <init-param>
      <param-name>DefaultLocale</param-name>
      <param-value>en</param-value>
    </init-param>
    <init-param>
      <param-name>SupportedLocales</param-name>
      <param-value>en ru</param-value>
    </init-param>
    <init-param>
      <param-name>LanguageStrategy</param-name>
      <param-value>COOKIE</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>LocalizationFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>GZIPFilter</filter-name>
    <filter-class>com.epam.osmachko.filter.GZIPFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.css</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>*.jsp</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>GZIPFilter</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>CacheControlFilter</filter-name>
    <filter-class>com.epam.osmachko.filter.CacheControlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CacheControlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <session-config>
    <session-timeout>60</session-timeout>
    <cookie-config>
      <http-only>true</http-only>
      <max-age>3600</max-age>
    </cookie-config>
    <tracking-mode>COOKIE</tracking-mode>
  </session-config>
  <servlet>
    <servlet-name>UploadServlet</servlet-name>
    <servlet-class>com.epam.osmachko.controller.UploadFileServlert</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Filter</servlet-name>
    <servlet-class>com.epam.osmachko.controller.Filter</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.epam.osmachko.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>com.epam.osmachko.controller.SignInServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>com.epam.osmachko.controller.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UploadServlet</servlet-name>
    <url-pattern>/UploadServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Filter</servlet-name>
    <url-pattern>/Filter</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>500</error-code>
    <location>/Error500.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/wrongAccess.jsp</location>
  </error-page>
</web-app>